main {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(14, 1fr);
}
.main-button {
  grid-column-start: 14;
  grid-column-end: 16;
  display: flex;
  justify-content: flex-end;
}

.main-contents {
  display: flex;
  justify-content: center;
}

.toDo-Right {
  background-color: tomato;
  width: 100%;
  grid-row-start: 4;
  grid-row-end: 12;
}

.toDo-Left {
  grid-column-start: 2;
  grid-column-end: 8;
}

.toDo-Right {
  grid-column-start: 9;
  grid-column-end: 15;
  display: flex;
  flex-direction: column;
}

.grid-row-span-7 {
  grid-row: span 7;
}

#quotes {
  grid-row: 14;
  grid-column-start: 5;
  grid-column-end: 12;
  text-align: center;
  background-color: white;
}
