@keyframes pageOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes pageIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes finishToDO {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.page-out {
  animation: pageOut 1s ease-in-out forwards;
}

.page-in {
  animation: pageIn 1s ease-in-out forwards;
}

.finished-todo {
  position: relative;
}

.finished-todo::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
  animation: finishToDO 1s linear forwards;
}
