.main-hello {
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 6;
  grid-column-end: 11;
  background: none;
}

#greeting {
  width: 100%;
  text-align: center;
  font-size: 80px;
}
