.toDo-Left {
  background: none;
  width: 100%;
  grid-row-start: 4;
  grid-row-end: 12;
  grid-column-start: 2;
  grid-column-end: 8;
}

.date-time {
  text-align: center;
}

.calendar {
  margin-top: 50px;
  font-size: 100px;
}

.clock {
  font-size: 70px;
}

#weather {
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
}
